# Big Bytes 2019

In [1]:
import numpy as np
import pandas as pd
import csv

In [23]:
df = pd.read_csv('../datasets/creditcard-training set v2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227844 entries, 0 to 227843
Data columns (total 32 columns):
Seconds since reference time       227844 non-null int64
Amount                             227844 non-null float64
Fraud? (1: Fraud, 0:  No Fraud)    227844 non-null int64
Feature 1                          227844 non-null float64
Feature 2                          227844 non-null float64
Feature 3                          227844 non-null float64
Feature 4                          227844 non-null float64
Feature 5                          227817 non-null float64
Feature 6                          227785 non-null float64
Feature 7                          227844 non-null float64
Feature 8                          227844 non-null float64
Feature 9                          227844 non-null float64
Feature 10                         227844 non-null float64
Feature 11                         227844 non-null float64
Feature 12                         227844 non-null float64
Feature 13                         227844 non-null float64
Feature 14                         227844 non-null float64
Feature 15                         227844 non-null float64
Feature 16                         227844 non-null float64
Feature 17                         227844 non-null float64
Feature 18                         227844 non-null float64
Feature 19                         227844 non-null float64
Feature 20                         227844 non-null float64
Feature 21                         227844 non-null float64
Feature 22                         227844 non-null float64
Feature 23                         227844 non-null float64
Feature 24                         227844 non-null float64
Feature 25                         227844 non-null float64
Feature 26                         227844 non-null float64
Feature 27                         227844 non-null float64
Feature 28                         227844 non-null float64
Feature 29                         227844 non-null float64
dtypes: float64(30), int64(2)
memory usage: 55.6 MB

In [9]:
df.describe()

,Seconds since reference time,Amount,"Fraud? (1: Fraud, 0: No Fraud)",Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,...,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29
count,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227817.000000,227785.000000,227844.000000,...,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000,227844.000000
mean,79042.504749,90.825317,0.001830,0.049116,-0.005509,0.015160,-0.022870,-0.007268,0.009942,-0.005657,...,0.030540,-0.026843,0.003986,0.027511,0.032867,0.016712,-0.045001,0.076274,-0.001708,0.002219
std,39505.785991,250.504249,0.042742,0.933915,0.885633,0.874173,0.842786,0.820008,0.779124,0.761744,...,1.321420,1.228243,1.209610,8.652541,0.965725,1.019592,1.055865,1.033516,1.093933,1.123424
min,0.000000,0.000000,0.000000,-4.498945,-14.129855,-25.162799,-9.498746,-7.213527,-28.009635,-34.830382,...,-26.160506,-43.557242,-73.216718,-14.999725,-19.214325,-5.791881,-18.683715,-4.797473,-24.588262,-13.434066
25%,47694.000000,6.000000,0.000000,-0.543185,-0.478638,-0.457550,-0.514930,-0.478224,-0.202767,-0.225600,...,-0.731719,-0.568948,-0.195151,-7.466957,-0.386010,-0.651170,-0.453237,-0.682527,-0.522697,-0.662053
50%,73261.000000,23.400000,0.000000,0.120841,0.059919,-0.045765,-0.025810,-0.006006,-0.051034,-0.034863,...,-0.237643,0.009785,0.033492,0.044266,0.067860,-0.001631,0.118528,0.030157,-0.093071,-0.067951
75%,120396.000000,79.990000,0.000000,0.724566,0.528866,0.410328,0.476318,0.468337,0.145096,0.168401,...,0.432330,0.532569,0.332266,7.521777,0.509023,0.686509,0.611637,0.835856,0.456881,0.612866
max,145245.000000,19656.530000,1.000000,5.825654,8.289890,9.253526,5.041069,5.591971,39.420904,27.202839,...,22.529298,36.877368,20.007208,14.999989,10.526766,4.569009,7.848392,12.018913,23.745136,15.594995

In [24]:
df.rename(columns={"Seconds since reference time": "Seconds Elapsed"}, inplace=True)
df.rename(columns={"Fraud? (1: Fraud, 0:  No Fraud)": "Fraud"}, inplace=True)
df.head()

,Seconds Elapsed,Amount,Fraud,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,...,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 27,Feature 28,Feature 29
0,0,149.62,0,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,...,0.462388,0.239599,0.098698,-6.399372,-0.311169,-0.991390,-0.617801,-0.551600,0.090794,0.363787
1,0,2.69,0,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,...,-0.082361,-0.078803,0.085102,13.786441,-0.143772,0.489095,1.065235,1.612727,-0.166974,-0.255425
2,1,378.66,0,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,...,1.800499,0.791461,0.247676,-10.515321,-0.165946,0.717293,0.066084,0.624501,0.207643,-1.514654
3,1,123.50,0,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,...,1.247203,0.237609,0.377436,2.961038,-0.287924,0.507757,0.178228,-0.226487,-0.054952,-1.387024
4,2,69.99,0,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,...,0.095921,0.592941,-0.270533,2.751346,-1.119670,1.345852,0.538196,-0.822843,0.753074,0.817739

In [25]:
from keras.models import Sequential, Model, Input 
from keras.layers.embeddings import Embedding
from keras.layers.recurrent import SimpleRNN, GRU, LSTM
from keras.layers.core import Dense, Dropout
from keras.layers.wrappers import TimeDistributed
from keras.layers import Conv1D, MaxPooling1D, Bidirectional, CuDNNGRU, Lambda, concatenate, SpatialDropout1D
import matplotlib.pyplot as plt
import seaborn

Using TensorFlow backend.